<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MTG Token Manager</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav>

  </nav>
  
  <section id="content">
    <h1>NOT FOUND</h1>
    <p>go to <a href="/login">login</a></p>
  </section>

    <div id="appMessage" class='hidden'>
      <h3><span id="errorMessage"></span></h3>
    </div>
</body>
</html>