html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f6f7;
}

#logo {
    height: 40px;
    width: 40px;
    border-radius: 8px;
}

a:has(> #logo){
    margin-right: auto; 
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #1d1616;
}

.navInner {
    grid-column: 3;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 1040;
}

.navlink {
    color: white;
    font-size: 1.3em;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #1d1616;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #a51e1e;
}

/* ---- App views ------------------------------------------------------------- */

.navLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1040px;
}

#backToDecks{
    grid-column: 1;

}

#toBoard{
    grid-column: 3;
    justify-self: end;
}

h2 {
    text-align: center;
}

.navLinks .reactLink{
    display: inline-block;
    background-color: #a51e1e;
    color:white;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #6d1616;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 5px;
}

#app {
    margin-top: 10px;
}

.deckForm{
    grid-column: 1;
    margin: 0;
}

.deckForm label{
    display: inline-block;
    padding-right: 10px;
    width: fit-content;
    margin-left: 10px;
    font-size: 1.2em;
    color: white;
}

.deckForm input[type=text]{
    display: inline-block;
}

.makeDeckSubmit, #searchSetSubmit{
    transition: background-color 0.4s ease;
    display: inline;
    width: fit-content;
    background-color: #6d1616;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-left: 5px;
}

.makeDeckSubmit:link, .makeDeckSubmit:visited, .makeDeckSubmit:hover, .makeDeckSubmit:active {
    color: white;
}

.makeDeckSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #a51e1e;
}

.decks, .tokens, .boardDeck {
    width: 100%;
    max-width: 1040;
    border: 2px solid #1d1616;
    background-color: #f5f6f7;
    border-radius: 4px;
    overflow: hidden;
}

/* ----- Login / Sign up ------------------------------------------------------ */
.mainForm {
    height: fit-content;
    width: 350px;
    margin: auto;
    margin-top: 150px;
    font-size: 1.2em;
    border: 2px solid ;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 4px;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    font-size: 1.2em;
    margin-top: 15px;
}

#loginForm{
    display: flex;
    flex-wrap: wrap;

}


.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 1.2em;
    width: 100%;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #1d1616;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    padding: 0 15px;
    flex-basis: 100%;
}

#resetPasswordButton{
    margin-top: 15px;
    flex-basis: 100%;
    text-align: right;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}


#user, #pass, #pass2, #oldPass{
    text-align: left;
    padding: 5px;
    font-size: 1.1em;
    border-radius: 6px;
    flex-basis: 100%;
    width: 100%;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#deckName, #setCode, #setName{
    text-align: left;
    padding: 5px;
    border-radius: 6px;
}

.hidden {
    display: none;
}

.makeDeck{
    display: grid;
    grid-template-columns: 1.25fr 2fr;
    width: 1040px;
    border: 2px solid #4b0e0e;
    height: 50px;
    max-height: 50px;
    background-color: #a51e1e;
    border-radius: 4px;
    margin-bottom: 10px;
    align-items: center;
}

#appMessage {
    width: fit-content;
    z-index: 200;
    right: 0px;
    text-align: center;
    margin: 15px auto;
}

.makeDeck #appMessage{
    grid-column: 2;
    justify-self: left;
    margin: 0 ;
    height: min-content;
}

#appMessage h3 {
    top: 0px;
    left: 20px;
    font-weight: normal;
    margin: 15px auto;
}

.makeDeck #appMessage h3{
    margin: 0;
}

#errorMessage {
    font-size: 1em;
    color: red;
    font-style: italic;
}


.token, .deck, .resultToken{
    align-items: center;
    flex-shrink: 0;
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid #a51e1e;
    border-radius: 4px;
    background-color: #a51e1e;
    padding: 10px;
    min-height:60px;
    position: relative;
}

.token:first-child, .deck:first-child, .resultToken:first-child{
    margin-left: 5px;
}

.token:last-child, .deck:last-child, .resultToken:last-child{
    margin-right: 5px;
}

.deleteToken, .deleteDeck{
    position:absolute;
    top: -1px;
    left: -1px;
    width: 35px;
    height: 35px;
    background-color: rgba(255,255,255, 0.8);
    display: none;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border-style: none;
}

.deleteIcon {
    font-size: 1.8em;
    font-weight: bold;
    padding: 0;
    display: inline-block;
    text-align: center;
}

.token:hover .deleteToken, .deck:hover .deleteDeck{
    display: flex;
}

.deleteToken:hover, .deleteDeck:hover{
    background-color: #ff0000;
    justify-content: center;
}

.token:hover, .deck:hover{
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color .5s ease-out;
    background-color: #772121;
}

img.cardFace {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    max-width: 200px;
    border-radius: 4px;
    float:left;
    flex: 0;
}

h3.emptyList {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.tokenName{
    flex: 1;
}

h3.tokenName, h3.deckName{
    font-weight: bold;
}

h3.tokenName, h3.deckName, h3.tokenNum{
    text-align: center;
    font-size: 1.5em;
    margin: 15px auto;
    color: white;
}

.componentList{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.dialogueWrapper{
    display: flex;
    justify-content: center;
}


.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    width: 100%;
}

.board:first-child{
    margin: 40px;
}

.boardToken {
    display: inline-block;
    margin-right: 40px;
}

.boardToken.tapped {
    transform: rotate(90deg);
    margin-right:  50px; 
}

.viewWrapper {
    display: grid;
    grid-template-columns: 1fr 160px 1fr 160px 1fr;
    column-gap: 10px; 
    width: 100%;
}


.mainContent {

    grid-column: 3; 
    display: flex;
    flex-direction: column;
    align-items: center;


    width: 100%;
}

.ad-placeholder {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    text-align: center;
    font-family: sans-serif;
    width: 160;
}

.ad-placeholder.banner {
    width: 728px;
    height: 90px;
}

.ad-left { grid-column: 2; }
.ad-right { grid-column: 4; }

.ad-left, .ad-right { height: 600px;}

.ad-content p {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.ad-subtext {
    font-size: 0.7em;
    display: block;
}

.searchArea{
    border: 2px solid #338acc;
    border-radius: 4px;
    width: min-content;
    margin-bottom: 10px;
}

.searchResults{
    max-width: 1200px;
}

.searchForm label{
    width: max-content;
    text-align: center;
    padding-top: 5px ;
}

.searchContainer{
    width: fit-content;
    padding: 0 10px
}

.searchForm, .searchLabel{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.searchForm{
    justify-content: space-between;
    gap: 10px;
}

.boardArea {
    width: 100%;
    display: flex;
    justify-content: center;
}